# Клуб аналитиков. Практикум по pandas

Привет, дорогие аналитики! Предлагаю вашему вниманию датасет с информацией о 1000 российских стартапов. Данные были скачаны с сайта *startup.ru*.

У датасета следующая структура: 
* `short_name` - короткое имя компании
* `full_name` - полное имя компании
* `id_on_site` - id компании на сайте
* `inn` - ИНН компании
* `status` - статус компании
* `money_support` - денежная поддержка компании от государства
* `link` - ссылка на страницу компании

> **Правила игры: у вас есть 20 минут на выполнение заданий. Тот, кто первый правильно отвечает на все вопросы – получает от меня, Лики,  вкусняшку**

**Внимание! Задачи нужно выполнять последовательно**

In [10]:
import pandas as pd
df = pd.read_csv('club_analitikov_praktikum_data.csv', index_col=0)
df

,short_name,full_name,id_on_site,inn,status,money_support,link
0,"""ЦАПК""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЦАПК""",1121382,7721284390,Действующая,33162000,https://startup-id.ru/navigator/#/orn/1121382
1,"""АНИЗОПРИНТ""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АНИЗ...",1121074,7723396928,Действующая,27450000,https://startup-id.ru/navigator/#/orn/1121074
2,"""МАРВЕЛМАЙНД2""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""МАРВ...",1121562,7731323120,Действующая,6089000,https://startup-id.ru/navigator/#/orn/1121562
3,"""ЮНИМ""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЮНИМ""",1121225,7724883963,Действующая,35980000,https://startup-id.ru/navigator/#/orn/1121225
4,"""ТВИНС ТЕХНОЛОГИИ""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ТВИН...",1121183,6732113162,Действующая,4863000,https://startup-id.ru/navigator/#/orn/1121183
...,...,...,...,...,...,...,...
995,"""ГОРИЗОНТЫ РОСТА""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ГОРИ...",1121602,7731320560,Действующая,5896000,https://startup-id.ru/navigator/#/orn/1121602
996,None,None,1121598,None,None,0,https://startup-id.ru/navigator/#/orn/1121598
997,"""ГИБРИДРОВ""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ГИБР...",1121604,7731317581,Действующая,0,https://startup-id.ru/navigator/#/orn/1121604
998,"""КРОМИС""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КРОМИС""",1121603,7731326353,Действующая,29967000,https://startup-id.ru/navigator/#/orn/1121603
999,"""КВАНТУМ-ЦЕНТР""","ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КВАН...",1121595,7731322670,Действующая,0,https://startup-id.ru/navigator/#/orn/1121595

**Задание 1: выведите размерность `df`. Поделите количество строк на количество столбцов, округлите до двух знаков после запятой, запишите в переменную `answer1`**

In [ ]:
answer1 = #YOUR CODE HERE

**Задание 2: выведите распределение по переменной `status`. Какой процент компаний находится в процессе ликвидации? Запишите это значений в переменную `answer2`**

In [16]:
#YOUR CODE HERE
answer2 = #YOUR CODE HERE

**Задание 3: изучите справку по методу `.dropna()` и почистите датафрейм от пустых строк с его помощью; далее - отфильтруйте датасет, избавившись от наблюдений, содержащих `None`(строка) по колонке `short_name`. Запишите размерность датасета после первого и после второго преобразования в перееменную answer3. (в виде листа).**

In [25]:
# YOUR CODE HERE

In [ ]:
answer3 = # YOUR CODE HERE

**Задание 4: перезапишите колонку `short_name`, избавившись от двойных кавычек. Если вы совершили какую-то ошибку, заново загрузите датасет. С помощью метода `.iloc()` обратитесь к 100 с конца по индексу наблюдению. Запишите в переменную `answer4` ее название.**

In [ ]:
# YOUR CODE HERE

In [35]:
answer4 = #YOUR CODE HERE

**Задание 5: Рассчитайте описательные статистики для переменной `money_support`. Сохраните наблюдения-выбросы, посчитанные как плюс/минус 3 стандартных отклонения от среднего, в объект `df_outliers`. В переменную `answer5` сохраните число наблюдений в этом датасете.**

In [ ]:
df_outliers = # YOUR CODE HERE

In [ ]:
answer5 = # YOUR CODE HERE

**Задание 6. Обратитесь к переменной `full_name`. Выведите распределение значений для типа организации (подумайте, с помощью какого символа так можно сделать). Запишите в переменную `answer6` число уникальных значений, которое вы получили с помощью метода `.value_counts()`**

*Подсказка: начало и конец выдачи должен выглядеть так, а для работы вам понадобится метод `.apply()`*

In [68]:
# НАЧАЛО

ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ                                         947
АКЦИОНЕРНОЕ ОБЩЕСТВО                                                              23
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ НАУЧНО-ПРОИЗВОДСТВЕННОЕ ПРЕДПРИЯТИЕ       5
Name: full_name, dtype: int64

In [69]:
# КОНЕЦ

ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ЦЕНТР ПРИКЛАДНЫХ ИССЛЕДОВАНИЙ     1
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ СЕЛЕКЦИОННАЯ КОМПАНИЯ             1
Name: full_name, dtype: int64

In [73]:
answer6 = #YOUR CODE HERE

**Задание 7: Обратитесь к переменной `full_name`. Изучите справку по методу `str.startswith()` и выведите наблюдения, полное имя которых не начинается со слова "Общество". Выведите среднее значение переменной `money_support` для таких наблюдений и запишите его в переменную `answer7`**

In [74]:
# YOUR CODE HERE

In [ ]:
answer7 = # YOUR CODE HERE

**Задание 8: обратившись к методу `.apply()`, выделите из переменной `df['link]` – ссылки – только части с цифрами. Создайте новую переменную `combination`, сохранив туда первую и последюю цифру численной части ссылки (предварительно превратив их в строки). В переменную `answer8` сохраните длину списка с уникальными значениями по этой переменной**

In [91]:
# YOUR CODE HERE

In [ ]:
answer8 = # YOUR CODE HERE

**Задание 9: сгруппируйте данные по переменной `status`. Аггрегируйте данные по переменной `money_support` и посчитайте минимальное, максимальное и медианное значение. В `answer9` запишите название статистики и статус организаций, значение ячейки для которых принимает значение 31007000**

In [ ]:
# YOUR CODE HERE

In [ ]:
answer9 = # YOUR CODE HERE

**Задание 10: выделите в переменные `active` и `inactive` действующие компании и те компании, статус которых отличается от действующего. С помощью библиотеки `matplotlib.pyplot` нарисуйте для них боксплоты по переменной `money_support`. Запишите в `answer10` максимальное отражаемое значение по оси y для боксплота по `active` и `inactive`.**

*Подсказка: как график называется, так он и вызывается..*

In [106]:
import matplotlib.pyplot as plt

In [ ]:
# YOUR CODE HERE

In [ ]:
# YOUR CODE HERE

In [ ]:
answer10 = # YOUR CODE HERE